.navbar-default {
    background-color: white !important;
    border-color: white !important;
}
.header {
    padding: 0px 20px ;
    text-decoration: none;
    color:black;
    font-size: 20px;
}
.header:hover {
    text-decoration: black;
    color:black;
}
.w3-third h3 {
    padding-left: 16px;
}
.add-to-cart {
    color:#c0392b;
}
.add-cart:hover {
    color:#c0392b;
    text-decoration: none;
}
#about {
    border-top:1px solid black !important;
}

.login-div-parent  .form-login {
   position: absolute;
    left:43%;
    width: 245px;
}
.main-div-login {
    margin-bottom: 100px;
}
.w3-text-black b {
    padding:5px 15px;
}
 .w3-input {
    margin:5px 5px;
}

 .w3-btn {
     margin-top: 10px;
 }
.w3-center .main-div-register {
     margin-bottom: 630px !important;
 }

 .main-div-login {
     min-height: 140px;
 }
 .w3-button {
     margin-left: 6px;
 }
 .w3-dropdown-hover {
     background-color: white !important;
 }
 .w3-dropdown-content {
     padding-right: 10px;
 }
 .bannel-dropdown {
    /*margin-left: 60px;*/
     padding:10px;
 }
 .dropdown-iterms {
     padding:0px !important;
     font-size: 17px;
 }
.dropdown-iterms:hover {
   background-color: white !important;
}

 .padding-slider {
    padding-right: 70px;
 }
.slick-arrow {
   background-image: none;
    border: none !important;
}
#slick_slider1 {
    max-height: 500px;
}
#slick_slider2 {
    max-height: 500px;
}
.fa-arrow-left  {
    font-size: 20px !important;
}
.fa-arrow-right {
    font-size: 20px !important;
}


